@page "/fetchdata"

@using Bloop;
@using Bloop.Blazor;
@using static Bloop.Validation<string>;

<h1>Bloop Test</h1>

<form >
    <Validator Data="@(new Profile { User = new User { Name = new Name { First = "", Last = "" } }, Bio = "", Site = "", Remember = false })" Context="validator" Summarize ShowResultsAsHeader>
        <label for="first-name-input">Your First Name</label>
        <input id="first-name-input" @bind="validator.Data.User.Name.First" @bind:event="oninput" type="text" />
        <Message Data="validator.Data.User.Name.First" Validations="Test.Hydrated.Chain(Test.Range(3..5))" />

        <br />

        <label for="last-name-input">Your Last Name</label>
        <input id="last-name-input" @bind="validator.Data.User.Name.Last" @bind:event="oninput" type="text" />
        <Message Data="validator.Data.User.Name.Last" Validations="Test.Hydrated.Chain(Test.Range(7..15))" />

        <br />

        <label for="bio-input">Some Things About You</label>
        <br />
        <textarea id="bio-input" @bind="validator.Data.Bio" @bind:event="oninput" maxlength="200" />
        <Message Data="validator.Data.Bio" Validations="Test.Hydrated.Chain(Test.Wobble.Value)" />

        <br />

        <label for="site-input">Your Home Page</label>
        <input id="site-input" @bind="validator.Data.Site" @bind:event="oninput" type="url" />
        <Message Data="validator.Data.Site" Validations="Test.Hydrated.Chain(Test.Length((11, true)))" />

        <br />

        <label for="remember-input">Should We Remember You Here?</label>
        <input id="remember-input" @bind="validator.Data.Remember" type="checkbox" />
        
        <br />

        <button type="submit" class="btn btn-success" @onsubmit="() => Data = validator.Data" disabled="@validator.FailedValidation">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </Validator>
</form>

<br />

@if (Data is { })
{
    <h1>Recieved Data From Submission</h1> 
    <h2>Name</h2>
    <strong>First:</strong> @Data.User.Name.First
    <br />
    <strong>Last:</strong> @Data.User.Name.Last
    <h3>Other Details</h3>
    <strong>Bio:</strong>
    <br />
    @Data.Bio[..Math.Min(200, Data.Bio.Length)]
    <br />
    <strong>Home Page:</strong> @Data.Site
    <br />
    <strong>Should Be Remembered:</strong> @Data.Remember
}

@code
{
    public class Name
    {
        public string First { get; set; }

        public string Last { get; set; }
    }

    partial class User
    {
        public Name Name { get; set; }
    }

    class Profile
    {
        public User User { get; set; }

        public string Bio { get; set; }

        public string Site { get; set; }

        public bool Remember { get; set; }
    }

    Profile Data { get; set; }
}
